*{padding: 0;margin: 0px;}
*{transition: all .3s;}
*{box-sizing: border-box;}
#container {height: 100vh;width:100%;display: flex;flex-direction: column;}

.code{
    flex: 0.3;
    background: #231F20;
}
.minion{
    flex: 0.7;    
    position: relative;
    padding-top: 30px;
    background: rgb(255, 255, 255);
}
.minion div {
    position: absolute;
}
.minion .minonContainer{
    width: 100%;
    position: relative;
    top:40px;
}



.head{
    width: 150px;
    height: 130px;
    left: calc(50% - 75px);
    border-radius: 50%/50%;
    background: #231F20;
}
.face{
    width: 150px;
    height: 70px;
    top:98px;
    background: rgb(246,201,84);
}
.face::before{
    content: '';
    position: absolute;
    border:75px solid transparent;
    border-top: 30px solid #231F20;
}
.face::after{
    content: '';
    position: absolute;
    bottom: 0px;
    top:100%;
    border:75px solid transparent;
    border-top: 20px solid rgb(246,201,84);
}
.eye {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    left: calc(50% - 38px);
    top:40px;
    background:rgb(187,187,187);
}
.eye::after{
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    left: calc(50% - 28px);
    top: calc(50% - 28px);
    background: #fff;
}
.pupil{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    z-index: 1;
    background:rgb(87,112,169);
}
.pupil::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    background:#231F20;
}
.mouth {
    width: 72px;
    height: 30px;
    left: calc(50% - 36px);
    top: 134px;
    border-bottom-right-radius:50%;
    border-bottom-left-radius:50%;
    overflow: hidden;
    background: #1F2020;
}
.teeth1,.teeth2,.teeth3,.teeth4{
    width: 18px;
    height: 16px;
    left: 0;
    z-index: 1;
    border-bottom-right-radius:40%;
    border-bottom-left-radius:40%;
    background: #fff;
}
.teeth2{left: 18px;}
.teeth3{left: 36px}
.teeth4{left: 54px}
.tongue{
    width: 34px;
    height: 20px;
    left: calc(50% - 17px);
    top:20px;
    border-radius: 50%;
    background: rgb(190,28,53);
}
.leftEar{
    top: -40px;
    left: calc(50% - 75px);
    border:80px solid transparent;
    border-left: 40px solid #231F20;
}
.rightEar{
    top: -40px;
    left: calc(50% - 45px);
    border:80px solid transparent;
    border-right: 40px solid #231F20;
}
.body{
    width: 180px;
    height: 150px;
    left: calc(50% - 90px);
    top: 154px;
    border-radius: 25%;
    background: #231F20;
}
.bat{
    width: 100px;
    height: 50px;
    left: calc(50% - 50px);
    top: calc(50% - 25px);
    border-radius: 50%;
    background: rgb(249,242,0);
}
.bat .t1,.bat .t3{
    width: 14px;
    height: 40px;
    left: calc(50% - 21px);
    top:-25px;
    border-radius: 50%/25%;
    background: #231F20;
}
.bat .t2{
    left: calc(50% - 7px);
    border: 7px solid transparent;
    border-top:7px solid #231f20;
}
.bat .t3{
    left: calc(50% + 7px);
}
.bat .b01,.bat .b02{
    width: 10px;
    height: 36px;
    left: calc(50% - 20px);
    bottom:-22px;
    transform: rotate(-35deg);
    border-radius: 50%/25%;
    background: #231F20;
}
.bat .b02{
    left: calc(50% + 10px);
    transform: rotate(35deg);
}
.bat .b11,.bat .b12{
    width: 10px;
    height: 20px;
    left: calc(50% - 13px);
    bottom:-8px;
    transform: rotate(-35deg);
    border-radius: 50%/25%;
    background: #231F20;
}
.bat .b12{
    left: calc(50% + 3px);
    transform: rotate(35deg);
}

.belt{
    width: 180px;
    height: 20px;
    bottom: 12px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    background: rgb(249,242,0);
}

.buckle{
width: 32px;
height: 32px;
border-radius: 50%;
left: calc(50% - 16px);
top:calc(50% - 16px);
background: rgb(249,242,0);
}
.buckle::before{
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 11px);
    top:calc(50% - 11px);
    background: rgb(34,34,34);
}
.buckle::after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 5px);
    top:calc(50% - 5px);
    background: rgb(249,242,0);
}
.box1,.box2,.box3,.box4{
    width: 20px;
    height: 32px;
    left: calc(50% - 64px);
    top: calc(50% - 16px);
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    background: rgb(249,242,0);
}
.box2{left: calc(50% - 39px);}
.box3{left: calc(50% + 44px);}
.box4{left: calc(50% + 19px);}
.leftFoot,.rightFoot{
    width: 20px;
    height: 32px;
    left: calc(50% - 32px);
    top: 304px;
    background: #231F20;
}
.leftFoot:after,.rightFoot:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48px;
    height: 18px;
    border-radius: 20%/50%;
    background: #231F20;
}
.rightFoot{
    left: calc(50% + 22px);
}
.rightFoot:after{
    left: 0;
}
.leftArm,.rightArm{
    width: 10px;
    height: 120px;
    border-radius: 50%/5%;
    left: calc(50% - 108px);
    top: 176px;
    transform: rotate(15deg);
    background: #231F20;
}
.leftArm::before,.rightArm::before{
    content: '';
    position: absolute;
    bottom: -13px;
    width: 26px;
    height: 22px;
    border-radius: 8px 13px / 13px;
    background: #231F20;
}
.leftArm::after,.rightArm::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 4px;
    width: 15px;
    height: 40px;
    border-radius: 50%/40%;
    transform: rotate(-15deg);
    background: #231F20;
}
.leftArm .triangle{
    bottom:13px;
    left: -20px;
    border: 9px solid transparent;
    border-right: 14px solid #231F20;
    transform: rotate(10deg)
}
.leftArm .triangle::before,.leftArm .triangle::after{
    content: '';
    position: absolute;
    bottom:9px;
    left: -9px;
    border: 9px solid transparent;
    border-right: 14px solid #231F20;
}
.leftArm .triangle::after{
    bottom:27px;
}
.rightArm{
    left: calc(50% + 98px);
    transform: rotate(-15deg);
}
.rightArm::before{
    border-radius: 13px/13px 8px;
    right: 0;
}
.rightArm::after{
    top: 10px;
    left: -9px;
    transform: rotate(15deg);
}
.rightArm .triangle{
    bottom:13px;
    left: 7px;
    border: 9px solid transparent;
    border-left: 14px solid #231F20;
    transform: rotate(-10deg)
}
.rightArm .triangle::before,.rightArm .triangle::after{
    content: '';
    position: absolute;
    bottom:8px;
    left: -14px;
    border: 9px solid transparent;
    border-left: 14px solid #231F20;
}
.rightArm .triangle::after{
    bottom:25px;
}
.cape{
    width: 198px;
    height: 140px;
    left: calc(50% - 99px);
    top: 200px;
    background: rgb(50,50,50);
}
.cape::after{
    content: '';
    position: absolute;
    top: -69px;
    width: 198px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: rgb(50,50,50);
}
.cape .c1,.cape .c2,.cape .c3,.cape .c4,.cape .c5,.cape .c6,.cape .c7,.cape .c8,.cape .c9{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    left: 0;
    bottom: -11px;
    background: #fff;
}
.cape .shadow1,.cape .shadow2,.cape .shadow3,.cape .shadow4,.cape .shadow5,.cape .shadow6,.cape .shadow7,.cape .shadow8{
    width: 24px;
    height: 120px;
    bottom: 2px;
    box-shadow: 5px 0px 7px rgba(0, 0, 0, .5);
}
.cape .shadow2{left: 24px;}
.cape .shadow3{left: 47px;}
.cape .shadow4{left: 74px;}
.cape .shadow5{left: 93px;}
.cape .shadow6{left: 115px;}
.cape .shadow7{left: 140px;}
.cape .shadow8{left: 160px;}
.cape .c2{left: 22px;}
.cape .c3{left: 44px}
.cape .c4{left: 66px}
.cape .c5{left: 88px}
.cape .c6{left: 110px}
.cape .c7{left: 132px}
.cape .c8{left: 154px}
.cape .c9{left: 176px}
